@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Brand colors */
  --brand-github: #181717;
  --brand-linkedin: #0b66c2;

  --brand-css: #663399;
  --brand-html: #e34f26;
  --brand-python: #3776ab;
  --brand-postgresql: #4169e1;
  --brand-typescript: #3178c6;

  --brand-astro: #bc52ee;
  --brand-expo: #1c2024;
  --brand-expressjs: #000000;
  --brand-hono: #e36002;
  --brand-nextjs: #000000;
  --brand-nodejs: #5fa04e;
  --brand-react: #61dafb;
  --brand-react-native: #61dafb;
  --brand-svelte: #ff3e00;
  --brand-tailwindcss: #06b6d4;
  --brand-vite: #646cff;
  --brand-zod: #3e67b1;
  --brand-zustand: #443e38;

  --brand-figma: #f24e1e;
  --brand-photoshop-fill: #001e36;
  --brand-photoshop-stroke: #31a8ff;
  --brand-premiere-pro-fill: #00005b;
  --brand-premiere-pro-stroke: #9999ff;

  --brand-aws: #232f3e;
  --brand-cloudflare: #f38020;
  --brand-docker: #2496ed;
  --brand-git: #f05032;
  --brand-google-analytics: #e37400;
  --brand-netlify: #00c7b7;
  --brand-vercel: #000000;

  --brand-wofford: #8a6e4b;
  --brand-liberty: #00083b;
  --brand-us-navy: #022a3a;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
}

.scroll-mt {
  scroll-margin-top: 90px;
}

nav.rounded-full:has(#hs-navbar-header-floating.open) {
  border-radius: 0.5rem;
}

.nav-link {
  padding-block: 0.125rem;
  padding-inline: 1rem;
  border-style: solid;
  border-inline-start-width: 2px;
}

.nav-link:focus {
  outline: hidden;
}

.nav-link.active {
  border-color: oklch(0.278 0.033 256.848);
  font-weight: 500;
  color: oklch(0.278 0.033 256.848);
}

.dark .nav-link.active {
  border-color: oklch(0.922 0 0);
  color: oklch(0.922 0 0);
}

.nav-link:not(.active) {
  border-color: #0000;
  color: oklch(0.551 0.027 264.364);
}

.nav-link:not(.active):hover {
  color: oklch(0.278 0.033 256.848);
}

.dark .nav-link:not(.active) {
  color: oklch(0.708 0 0);
}

.dark .nav-link:not(.active):hover {
  color: oklch(0.922 0 0);
}

@media (width >= 48rem) {
  .nav-link {
    padding-block: 0.75rem;
    padding-inline: 0.25rem;
    border-bottom-width: 2px;
    border-inline-start-width: 0;
  }
}
